@model ParkingZoneIndexVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Street
            </th>
            <th>
                City
            </th>
            <th>
                Province
            </th>
            <th>
                Country
            </th>
            <th>
                PostalCode
            </th>
            <th>
                CreatedAt
            </th>
            <th>
                UpdateAt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ParkingZones) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                <div class="button-container">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-edit">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-details">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-delete">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

